@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;

.weather-card {
  // border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $mintGreen;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  gap: 0.5rem;
  padding:  0rem 1rem;
  margin-top: 1rem;
}
