@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;


.home-page {
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;

    &__greeting {
        text-align: center;
    }

    &__items {
        
    }
}