@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;

.recent-items {
    display: flex;
    align-items: flex-start;
    &__title {
        font-weight: 600;
    }
    &__images {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
    }
}