@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;



.add-item-page {
  &__title {
    text-align: center;
    margin: 2rem;
    color: $darkGray;
  }
}

.add-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
  display: flex;
  width: 60%;
  margin: 0 auto;
  // border: 1px solid red;
  justify-content: space-around;
  padding: 1.5rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__preview-container {
    height: 400px;
    width: 300px;
  }

  &__preview {
    width: 300px;
    height: 400px;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
  }

  &__button {
    @include primButton;
    align-self: center;
  }

  &__form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1rem;
  }

  &__input, &__select {
    padding: 1rem;
    border: none;
    border: 1.5px solid $mintGreen;
    border-radius: 1.25rem;
    width: 100%;
  }

  input:focus, select:focus {
    outline: none;
    border: 1px solid $mutedTeal;
  }

  
  
}
