@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;

.closet-page {
  &__header {
    // border: 1px solid black;
    background: #80CBC4;
    padding: 1rem 0.5rem;
    white-space: no-wrap;
    width: 100%;
    // margin-left: 1rem;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    width: 75%;

    a {
      color: white;
      font-weight: 600;
    }
  }

  &__filter {
    border: none;
    white-space: no-wrap;
    cursor: pointer;
  }

  &__results, &__outfits {
    // background: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

  }

  &__item, &__outfit {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
