@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/mixins" as *;

@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;

.item-card {
    height: 15rem;
    
    &__image {
        height: 100%;
        width:auto;
        object-fit: contain;
        border-radius: 1rem;
    }
}