@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}