
$white: #FFFFFF; //(backgrounds, forms)
$lightGray: #F5F5F5; //(backgrounds, cards)
$mediumGray: #E0E0E0; //(borders, dividers)
$darkGray: #616161; //(text)
$softPink: #FFCDD2; //(accents, highlights)
$lightCoral: #FF8A80;// (buttons, links)
$mintGreen: rgb(200, 230, 201); //(buttons, accents)
$mutedTeal: #80CBC4; //(buttons, accents)
$cozyBlue: #9eadca


